@import 'normalize.css/normalize.css';

html {
  height: 100%;
  scrollbar-gutter: stable both-edges;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-surface);
}

div,
main {
  box-sizing: border-box;
}